:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin-top: -1px;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.billboard {
  position: relative;
  width: 1440px;
  height: 667px;
  background: url(./images/your_verse_hero.jpg) 50% 100% no-repeat;
  background-size: 1440px 1315px;
}

.nav-links * {
  display: inline-block;
}

.nav-link:not(:last-child) {
  border-right: 3px solid black;
  width: calc(980px / 10);
  background-image: url(./images/globalnav_text.svg);
}

.nav-link {
  height: 36px;
  background-position: 50% 0;
  text-align: center;
  margin: auto;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.apple {
  background-position: 50% 2px;
}

.store {
  background-position: 50% -27px;
}

.mac {
  background-position: 50% -57px;
}

.ipod {
  background-position: 50% -86px;
}

.iphone {
  background-position: 50% -116px;
}

.ipad {
  background-position: 50% -146px;
}

.itunes {
  background-position: 50% -176px;
}

.support {
  background-position: 50% -207px;
}

.search {
  width: 196px;
}

.search-container {
  height: 1.3rem;
  position: relative;
  top: 7px;
}

.search-container input {
  border-radius: 2rem;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 25px;
  color: white;
}

.search-container input:focus {
  width: 140px;
  color: black;
  background-color: white;
  font-weight: bold;
}

.magnify {
  position: absolute;
  left: 8px;
  top: 4px;
}

.texts {
  position: absolute;
  text-align: center;
  top: 220px;
  width: 100%;
  color: white;
  font-family: sans-serif;
}

.texts img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
}

.header-text {
  height: 77px;
  object-fit: none;
  object-position: top;
}

.img__video-link--wrapper {
  margin-top: 1.8rem;
  height: 30px;
  overflow: hidden;
}

.promos {
  font-size: 0;
}

.promo {
  display: inline-block;
  margin: 0;
  width: 360px;
  overflow: hidden;
}

footer {
  width: 980px;
  margin: 0 auto;
  font-size: 0.7rem;
}

footer * {
  line-height: 2rem;
  display: inline-block;
  vertical-align: top;
}

.shop {
  width: 49%;
}

.links {
  width: 49%;
}

.links a * {
  padding: 0.1rem;
  vertical-align: middle;
}

.links li:not(:last-child)::after {
  content: "  |";
}

.rights {
  width: 49%;
}

.rights span {
  background-color: red;
}

.navigation-bar {
  position: absolute;
  width: 980px;
  height: 36px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  overflow: hidden;
  background: -webkit-gradient(
    linear,
    0 100%,
    0 0,
    from(#666),
    color-stop(0.5, #5e5e5e),
    color-stop(0.51, #707070),
    to(#808080)
  );
  border-radius: 6px;
}
